.inicio.html{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
  
 .menu{
    
    background-color: #50B748; 
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    }

    











 